<div class="jumbotron text-center">
  <h1>Mean Auth App</h1>
  <p class="lead">
    Welcome to Mean Auth App, build Using MongoDB, Express, Angular Cli and Node Js
  </p>
  <p>
    <a [routerLink]="['/register']" class="btn btn-primary btn-lg">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default btn-lg">Login</a>
  </p>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>
      Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile
      applications.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>
      The Angular CLI makes it easy to create an application that already works, right out of the box. It already follows our best
      practices!
    </p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>
      A Passport strategy for authenticating with a JSON Web Token. 
      This module lets you authenticate endpoints using a JSON web
      token. It is intended to be used to secure RESTful endpoints without sessions.
    </p>
  </div>
</div>